body{
	background: #FAFAFA;
}

* {
	border-color: #e0e0e0 !important;
}

.img-center {
	margin:0 auto;
}

.btn-login{
	width: 100%;
	font-weight: bold;
}

.navbar-default{
	background: #fff;
}
.navbar-default img {
	height: 40px;
}

.logo2{
	padding-left:50px;
}

#div_incluir{
	width:70%;
	position:absolute;
	top: 150px;
    left: 15%;
	z-index:9900;
}

#div_incluir panel{
	background: #FAFAFA;
}

.publicacao{
	border:solid 1px;
	text-align: center;
	border-radius: 5px;
}

.publicacao .titulo{
	display:block;
	text-align: left;
}


.comentar{
	text-align: left;
}

.input_comentario{
	outline: none !important;
	outline-style: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
	border: none;
	box-shadow: none;
}
.btn-link {
	border: none;
}
.btn-link:hover {
	border: none;
	text-decoration: none;
}

.comentarios{
	text-align: left;
	background:#FFF;
}

.txt_comentario{
	display: block;
	width:100%;
}

.font-weight-semibold {
	font-weight: 600;
}

.btn_remover_postagem{
	text-decoration: none;
	color: #c2c2c2;
	border:none;
}