<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<link rel="shortcut icon" href="images/icon_insta.png" />

		<title>Instagram</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		<script>
			$(document).ready(function(){
				
				function carrega_postagens(){

					// criar xmlhttprequest
					var xhr = new XMLHttpRequest();
					xhr.open('GET', 'http://localhost:8080/api/postagens');

					// verificar as mudanças de estado
					xhr.onload = function(){
						if(xhr.status === 200){
							// parseJSON recebe string em construção JSON para um objeto JSON
							var data = $.parseJSON(xhr.responseText);
							
							for(var i = 0; i < data.length; i++){

								$('#container_timeline').append(
									'<div class="publicacao my-4 bg-white">' +
										'<div class="row">' +
											'<div class="col px-4 mx-3 my-3 text-left">' +
												'<h6 class="font-weight-semibold">pessoa</h6>' +
											'</div>' +
										'</div>' +
										'<div class="row">' +
											'<div class="col">' +
												'<img class="img-center img-fluid w-100" src="http://localhost:8080/api/postagens/imagens/' + data[i].url_imagem + '">' +								 
											'</div>' +
										'</div>' +
										'<div class="row px-4 mt-2">' +
											'<div class="col my-0 py-0">' +
												'<p class="titulo font-weight-normal py-0 my-0">' + 
													'<span class="font-weight-semibold">pessoa </span>' +
													data[i].descricao + 
												'</p>' + 
											'</div>' +
										'</div>' +
										'<div class="row px-4">' +
											'<div class="comentarios col my-0 py-0" id="comentarios_'+data[i]._id+'">' +
											'</div>' +
										'</div>' +
										'<div class="comentar row px-4 my-2">' +
											'<div class="col-sm-8">' +
												'<input type="text" class="form-control px-0 input_comentario remover-bordas" id="'+data[i]._id+'" placeholder="Adicione um comentário...">' +
											'</div>' +
											'<div class="col-sm-4 text-right">' +
												'<button class="btn btn-link btn_postagem btn-sm font-weight-bold" value="'+data[i]._id+'" type="button" disabled>Publicar</button>' +
											'</div>' +
										'</div>' +
									'</div>'					
								);
									
								if(data[i].comentarios != undefined){
									var comentarios = data[i].comentarios;

									for(let j = 0; j < comentarios.length; j++){

										$('#comentarios_'+data[i]._id).append(
											'<div class="row txt-comentario font-weight-normal m-0 p-0" id="div_'+comentarios[j].id_comentario+'">' + 
												'<div class="col-10 my-0 p-0">' + 
													'<span class="font-weight-semibold">pessoa </span>' + 
													comentarios[j].comentario + 
												'</div>' +
												'<div class="col-2 my-0 p-0">' + 
													'<button type="button" class="btn btn-default text-dark my-0 py-0 font-weight-semibold remover_bordas align-top" data-toggle="modal" data-target="#modal_'+comentarios[j].id_comentario+'">. . .</button>' +

													'<div class="modal fade" id="modal_'+comentarios[j].id_comentario+'" tabindex="-1" role="dialog" aria-labelledby="modal_'+comentarios[j].id_comentario+'Label" aria-hidden="true">' +
														'<div class="modal-dialog modal-dialog-centered" role="document">'+
															'<div class="modal-content">' +
																'<div class="modal-body text-center">' +
																	'<button class="btn btn-block btn_remover_comentario font-weight-semibold" type="button" value="'+comentarios[j].id_comentario +'" data-dismiss="modal">Excluir</button><hr>' +
																	'<button class="btn btn-block btn-default close font-weight-semibold py-2" type="button" data-dismiss="modal" aria-label="Close">Cancelar</button>' +
																'</div>' +
															'</div>' +
														'</div>' +
													'</div>'+
												'</div>' +
											'</div>'
										);

									}
								}

							}

							// verificação do comentário vazio
							$('input.input_comentario').keyup(function(e){
								var id = this.id;
								if(this.value == ''){
									if( !$(this).parent().parent().find('button').attr('disabled') ){
										$(this).parent().parent().find('button').attr('disabled', 'disabled') 
									}
								} else {
									$(this).parent().parent().find('button').removeAttr('disabled');
								}
							});


							$('.btn_remover_comentario').click(function(){
								var id_comentario = this.value;
								
								var xhr = new XMLHttpRequest();
								xhr.open('DELETE', 'http://localhost:8080/api/postagens/comentarios/'+id_comentario);
								
								xhr.onload = function(){
									if(xhr.status === 200){
										$('#modal_'+id_comentario).modal('hide');
										$('div#div_'+id_comentario).remove();
										$('div.modal-backdrop').remove();
										$('body').removeClass('modal-open').removeAttr('style');
									}
								}

								
								xhr.send();
								
							});

							$('.input_comentario').keypress(function(e){
								if(e.wich == 13 || e.keyCode == 13){
									var id = this.id;
									enviar_comentario(id);
								}
							});
							
							$('.btn_postagem').click(function(){
								var id = this.value;
								enviar_comentario(id);				
							});

						}
					}

					xhr.send();

				}


				function enviar_comentario(id){
				
					var comentario = $('#'+id).val();

					var xhr = new XMLHttpRequest();
					xhr.open('PUT', 'http://localhost:8080/api/postagens/comentarios/'+id);
					xhr.setRequestHeader('Content-Type', 'application/json');
					
					xhr.onload = function(){
						console.log(xhr.responseText);
						var responseText = JSON.parse(xhr.responseText);
						if(xhr.status === 200){
							$('#comentarios_'+responseText.id_postagem).append(
								'<div class="row txt-comentario font-weight-normal m-0 p-0" id="div_'+responseText.id_comentario+'">' + 
									'<div class="col-10 my-0 p-0">' + 
										'<span class="font-weight-semibold">pessoa </span>' + 
										responseText.comentario + 
									'</div>' +
									'<div class="col-2 my-0 p-0">' + 
										'<button type="button" class="btn btn-default text-dark my-0 py-0 font-weight-semibold remover_bordas align-top" data-toggle="modal" data-target="#modal_'+responseText.id_comentario+'">. . .</button>' +
	
										'<div class="modal fade" id="modal_'+responseText.id_comentario+'" tabindex="-1" role="dialog" aria-labelledby="modal_'+responseText.id_comentario+'Label" aria-hidden="true">' +
											'<div class="modal-dialog modal-dialog-centered" role="document">'+
												'<div class="modal-content">' +
													'<div class="modal-body text-center">' +
														'<button class="btn btn-block btn_remover_comentario font-weight-semibold" type="button" value="'+responseText.id_comentario +'" data-dismiss="modal">Excluir</button><hr>' +
														'<button class="btn btn-block btn-default close font-weight-semibold py-2" type="button" data-dismiss="modal" aria-label="Close">Cancelar</button>' +
													'</div>' +
												'</div>' +
											'</div>' +
										'</div>'+
									'</div>' +
								'</div>'
							);
						}
						if(xhr.status === 400){
							$('#'+id).attr('placeholder', responseText.msg);
						}
					}
					
					xhr.send(JSON.stringify( {comentario : comentario} ));

					$('#'+id).val('');

				}

				carrega_postagens();

				$('#btn_incluir').click(function(){
					$('#container_timeline').hide();
					$('#container_form').show();
				});

				$('#btn-cancelar-publicacao').click(function(){
					$('#container_timeline').show();
					$('#container_form').hide();
					return false;
				});

				$('#btn-publicar').click(function(){

					// criar um formData
					var formData = new FormData();

					var arquivo = document.getElementById('arquivo').files[0];
					var descricao = document.getElementById('descricao').value;

					formData.append('arquivo', arquivo);
					formData.append('descricao', descricao);

					// criar xmlhttprequest
					var xhr = new XMLHttpRequest();

					// verificar as mudanças de estado
					xhr.onreadystatechange = function(){
						if(xhr.readyState == 4){
							window.location.href = '/home';
						}
					}

					// fazer o envio do nosso request
					xhr.open('post', 'http://localhost:8080/api/postagens');
					xhr.send(formData);

				});

			});
		</script>

	</head>

	<body>

		<nav class="navbar navbar-default py-0 my-0 border-bottom">
			<div class="container py-2 my-0 px-0">
				<div class="col-md-4 col-6 ml-0 mr-auto">
					<a class="text-left img-logo" href="http://localhost/home">
						<img alt="Instagram" src="images/logo1.jpg" class="img-fluid ">
					</a>
				</div>
				<div class="col-md-4 d-none mx-auto">

				</div>
				<div class="col-md-4 col-6 ml-auto mr-0 text-right">
					<a class="text-right mx-auto" href="#">
						<img alt="Incluir" src="images/incluir.jpg" class="btn-incluir h-50 img-fluid" id="btn_incluir">						
					</a>
				</div>
			</div>
		</nav>

		<div class="container my-0">
			<div class="row">
				<div class="col-lg-6 col-md-8 mr-auto" id="container_timeline"></div>
				<div class="col-md-4 ml-auto"></div>
			</div>	
		</div>


		<div class="container" style="display:none" id="container_form">
			<div class="panel panel-default">

			<div class="panel-heading"><h4>Publicar uma foto</h4></div>
			
			<div class="panel-body">
				<div class="form-group">
					<input type="file" name="arquivo" id="arquivo" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="descricao" id="descricao" class="form-control" placeholder="Descrição" autocomplete="off">
				</div>

				<div class="form-group">
					<button class="btn btn-success" id="btn-publicar">Publicar</button>
					<button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
				</div>
				<div id="mensagem"></div>
			</div>
		</div>

	</body>
</html>